*{
	margin: 0px;
	padding: 0px;
}
.top{
	width: 100%;
	height: 25px;
	background-color:#ccc;
}
.top li{
	width:150px;
	height:25px;
	font-size:20px;
	float: right;
	color: black;
	list-style: none;
	font-style: italic;
}
.newmember a{
	text-decoration: none;
	color: black;
}
.newmember a:hover{
	color:red;
}
.header-pic{
	width:100%;
	height:200px;
	background-image: url(images/header.jpg);
	background-size: cover;
}
.header{
	width: 100%;
    height:44px;
    background-color:#f2991a;
}
.header-text{
	margin:auto;
	padding:auto;
	width:1000px;
    height:40px;
    background-color:#f2991a;
}
.header-text li{
	width:196px;
    height:40px;
    float: left;
    text-align: center;
    list-style-type: none;
    border:2px solid #ccc;
    font-size:30px;
    background-color:#f2991a;
}
.header-text li a{
	text-decoration: none;
	color: black;
}
.header-text li a:hover{
	color: red;
}
.body{
	width:1000px;
	height: auto;
	margin: auto;
	padding: auto;
}