




.body-background{
	width:1200px;
	height:1000px;
	margin:auto;
	padding: auto;
	background-image:url(images/newmember.jpg);
	background-size:cover;
}

.body{
   	width:1200px;
   	height:700px;
   	padding-top: 50px;
}
.home{
	width:100px;
	height:25px;
	background-color:white;
	padding-left:10px;
    border:1px solid #ab6da0;
}
.home a{
	text-decoration: none;
	color:red;
	font-family:bold;
}
.home a:hover{
	color: #e67222;
}

.top1{
	padding-top:20px;
	padding-left:10px;
	width:350px;
	height:70px;
	background-color:red;
}

.form{
	width:360px;
	height:530px;
	margin:30px auto;
	padding:30px auto;
	background-color: pink;
	border:1px solid red;
}
.top{
	font-style: italic;
	font-size:35px;
	color:white;
}

.form-content{
	margin-top: 30px;
	margin-left: 50px;
}
.submit{
	margin-left:180px;
	margin-top:10px;
	background-color: red;
	color: white;
	border:1px solid red;
}
.mima{
	width:360px;
	height:30px;
}
.ruo{
	width:300px;
	height:20px;
	margin-left:30px;
}
.div1{
	width:60px;
	height:15px;
	font-size:8px;
	text-align: center;
	color: black;
	background-color:white;
	float:left;
	border:1px solid red;
}
.mima2{
	margin-left:40px;
}
.hidden{
	width: 300px;
	height:35px;
	font-size:10px;
	color:red;
}
.hiddendiv{
	width: 300px;
	height:30px;
}








.footer{
	width: 1200px;
	height:150px;
	margin:auto;
	padding: auto;
	background-color:#ccc;
}
.footer1{
	width: 650px;
	margin:auto;
	padding: auto;
	font-style: italic;
	padding-top:50px;
}
.footer1 p{
	font-style: italic;
	padding-top:50px;
}